tbody {
    display: block;
    overflow: auto;
    height: 400px;
    width: 100%;
  }
  
  thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  
  thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  
  
  thead {
    width: calc( 100%)
  }

  tbody > tr:hover {
    background-color: blueviolet;
    color: whitesmoke;
  }

  tbody > tr:not(:hover){
    background-color: silver;
  }