<table class="table">
    <thead style="background-color: #ff4081d4;">
        <tr>
            <th style="color:whitesmoke;width:60px">
                Code
            </th>
            <th style="color:whitesmoke; width:130px">
                Item
            </th>
        </tr>
    </thead>
    <tbody>
        <tr (click)="selectedItem(item)" *ngFor='let item of itemList' style="font-size: 13px;">
            <td style="width:60px;">
                {{item.itemNo}}
            </td>
            <td style="width:130px;">
                {{item.itemName}}
            </td>
        </tr>
    </tbody>
</table>
