<div class="container-fluid" style="padding: 10px;  padding-right: 25px;">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="curveCard">
                        <div class="row">
                            <div class="col-md-8">
                                <div>
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Item Code</mat-label>
                                        <input (keyup)="onKeypressEvent($event)" [(ngModel)]="selectedItem" class="back-white font-34" size="14" style="padding-left: 5px;padding-right: 5px" matInput placeholder="item-00" value="">
                                    </mat-form-field> 
                                </div>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field style="width: 100px;" class="example-full-width">
                                    <mat-label>Quantity</mat-label>
                                    <input id="qty" (keyup)="calcTotalPrice()" class="back-white font-34" matInput placeholder="00" value="" size="10">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row" style="justify-content: center;margin-left: -5px; margin-right: -5px; background-color: silver; border-radius: 17px">
                            <div id="ItemName">{{ filterItemName }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="example-button-row" style="padding-top: 6px">
                                    <button (click)="calcTotalPrice()" mat-raised-button color="accent"
                                        style="width: 122px; height: 108px; font-size: 20px; padding: 10px; margin-top: 10px;">Add to
                                        Cart</button>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3 class="d-flex justify-content-center font-20" style="color: silver; margin: 10px 0 10px;">
                                            Unit Price :
                                        </h3>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 id = "unitPrice" class="d-flex justify-content-center font-20">
                                            {{ filterItemPrice }}
                                        </h3>
                                    </div>
                                </div>
                                <div class="row" style="padding-bottom: 10px; padding-right: 10px;">
                                    <div class="col-md-12 back-black alignT-18px">
                                        <h1 id="Total-Price" class="d-flex justify-content-center">
                                            {{filterTotal}}
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 5px;"></div>
                    <div class="curveCard">
                        <div class="row">
                            <div class="col-md-12">
                                <app-filteritem (selectedItemByFilter)="filterFeedback($event)" [selectedItemList] = "itemList"></app-filteritem>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div style="height: 585px;" class="col-md-12 curveCard" >
                            <app-cartitem></app-cartitem>
                        </div>
                    </div>
                    <div style="padding: 5px;"></div>
                    <div class="row back-gray curveCard">
                        <div class="col-md-6">
                            <!-- Cashier Buttons -->
                            <button mat-raised-button color="primary" style="font-size: 20px;">Payment</button>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8">
                                    <h3 style="color:  rgb(214, 236, 10); text-align: end;">
                                        Total Price
                                    </h3>
                                </div>
                                <div class="col-md-4">
                                    <h3 style="color:  rgb(214, 236, 10); text-align: center;">
                                        0.00
                                    </h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <h3 style="color: rgb(214, 231, 57); text-align: end;">
                                        Discount
                                    </h3>
                                </div>
                                <div class="col-md-4">
                                    <input value="0.00"  style="text-align: center" size="10">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <h1 style="color: white; text-align: end;">
                                        Grand Total
                                    </h1>
                                </div>
                                <div class="col-md-4">
                                    <h1 style="color: white; text-align: center;">
                                        0.00
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>