.back-black {
	background: black;
}

.back-white {
	background: white;
}

.back-gray {
	background: gray;
}

.back-lgray {
	background: #80808082;
}


.alignT-18px{
    padding-top: 18px;
}

.font-34{
    font-size: 34px;
}

.font-20{
    font-size: 20px;
}

#ItemName{
    font-size: 24px;
    padding: 10px;
    color : black;
}

#Total-Price {
    font-size: 45px;
    color: white;
}

.curveCard {
    padding: 10px; 
    border-radius: 7px;
    background: #c6c8e0;
    box-shadow: -2rem 2rem 4rem -22px #000000 ;
}
