.back-black {
	background: black;
}

.center{
    text-align: center;
}

.centerVH{
    align-items: center;
    display: flex;
    justify-content: center
}

.back-white {
	background: white;
}

.back-gray {
	background: gray;
}

.back-lgray {
	background: #80808082;
}

.alignT-18px{
    padding-top: 18px;
}

.font-34{
    font-size: 34px;
}

.font-20{
    font-size: 15px;
}

#ItemName{
    font-size: 24px;
    padding: 10px;
    color : black;
}

#Total-Price {
    font-size: 45px;
    color: white;
}

.curveCard {
    padding: 10px; 
    border-radius: 7px;
    // background: #c6c8e0;
    background: #171717be;
    box-shadow: -2rem 2rem 4rem -22px #000000 ;
}

#unitPrice {
    color: silver; 
    margin: 10px 0 10px;
}

#qty {
    text-align: right; 
    padding-right: 5px
}