<table class="table">
    <thead style="background-color: #ff4081d4; color:whitesmoke; ">
        <tr>
            <th style="width:30px; text-align: center;">
                #
            </th>
            <th style="width:130px; text-align: center;">
                Code
            </th>
            <th style="width:300px; text-align: center;">
                Item
            </th>
            <th style="width:130px;">
                Unit Price
            </th>
            <th style="width:70px; ">
                Qty
            </th>
            <th style="width:130px; text-align: center;">
                Price
            </th>
            <th style="width:30px; text-align: center;">
                Remove
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let item of cartList' style="background-color: silver;">
            <td style="width:30px; font-size: 13px;">
                1
            </td>
            <td style="width:130px; font-size: 13px;">
                {{item.No}}
            </td>
            <td style="width:330px; font-size: 13px;">
                {{item.Name}}
            </td>
            <td style="width:130px; text-align: center; font-size: 13px;">
                <input value= {{item.Unit}} style="text-align: center" size="10">
            </td>
            <td style="width:70px; text-align: center; font-size: 13px;">
                <input value= {{item.Qty}}  style="text-align: center" size="10">
            </td>
            <td style="width:130px; text-align: center; font-size: 13px;">
                {{item.Unit * 1 * item.Qty * 1}}
            <td style="width:30px; font-size: 13px;">
                <button mat-raised-button  style="font-size: 20px; color:white; background-color:#a50202;">X</button>
            </td>
        </tr>
    </tbody>
</table>
