tbody {
    display: block;
    overflow: auto;
    height: 520px;
    
  }
  
  thead tr {
    display: table;
    table-layout: fixed;
  }

  .table td{
    padding: 0.2rem;
  }
  
  thead, tbody tr {
    display: table;
    table-layout: fixed;
  }
  
  
  thead {
    width: calc( 100%)
  }

  .tableContent {
    text-align: center; 
    vertical-align: middle !important
  }

  .table {
    border-collapse: separate !important
  }