<table class="table">
    <thead>
        <tr>
            <th style="width:30px; text-align: center;">
                #
            </th>
            <th style="width:130px; text-align: center;">
                Code
            </th>
            <th style="width:330px; text-align: center;">
                Item
            </th>
            <th style="width:130px; text-align: center;">
                Unit Price
            </th>
            <th style="width:70px; text-align: center;">
                Qty
            </th>
            <th style="width:130px; text-align: center;">
                Price
            </th>
            <th style="width:30px; text-align: center;">
                Remove
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let item of cartList'>
            <td style="width:30px; font-size: 13px;">
                1
            </td>
            <td style="width:130px; font-size: 13px;">
                {{item.No}}
            </td>
            <td style="width:330px; font-size: 13px;">
                {{item.Name}}
            </td>
            <td style="width:130px; text-align: center; font-size: 13px;">
                <input value= {{item.Unit}} style="text-align: center" size="10">
            </td>
            <td style="width:70px; text-align: center; font-size: 13px;">
                <input value= {{item.Qty}}  style="text-align: center" size="10">
            </td>
            <td style="width:130px; text-align: center; font-size: 13px;">
                {{item.Unit}} * {{item.Qty}}
            </td>
            <td style="width:30px; font-size: 13px;">
                <button mat-raised-button color="accent" style="font-size: 20px;">X</button>
            </td>
        </tr>
    </tbody>
</table>
